src/main/mule/emailconnect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="c0eb2ff4-902d-4f6a-827f-20a5406ac9b5" >
		<email:smtp-connection host="${email.Host}" port="${email.port}" user="${email.username}" password="Kailasha@25" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="16eeaeb5-51da-43de-b8f5-a1c010f2dc1d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="295723b1-6d2e-410b-a967-9408f4a534e1" file="properties/config.yaml" />
	<flow name="emailconnectFlow" doc:id="d65e53e9-bb9d-4329-b812-bad0481403a6" >
		<email:send doc:name="Send" doc:id="682ca570-a52a-440a-9b19-24f1a647e342" config-ref="Email_SMTP" fromAddress="jagruti.patil@apisero.com" subject='sample'>
			<email:to-addresses >
				<email:to-address value="jagruti.patil@apisero.com" />
			</email:to-addresses>
			<email:body contentType="text/plain" >
				<email:content ><![CDATA[#["hello world"]]]></email:content>
			</email:body>
		</email:send>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="bcb69eaa-8a4e-40ec-a922-1bcf2f5aa33c" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Email sent"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
